In [1]:
#abs(): Calculate the absolute value.
#sum(): Calculate the sum of all the values in a data structure.
#mean(): Calculate the arithmetic mean.
#round(): Round the values to 0 decimal places by default. Try out ?round in the console for variations of round() and ways to change the number of digits to round to.

In [2]:
# The errors vector has already been defined for you
errors <- c(1.9, -2.6, 4.0, -9.5, -3.4, 7.3)

# Sum of absolute rounded values of errors

sum(round(abs(errors)))

[1] 29

In [1]:
# seq(): Generate sequences, by specifying the from, to, and by arguments.
# rep(): Replicate elements of vectors and lists.
# sort(): Sort a vector in ascending order. Works on numerics, but also on character strings and logicals.
# rev(): Reverse the elements in a data structures for which reversal is defined.
# str(): Display the structure of any R object.
# append(): Merge vectors or lists.
# is.*(): Check for the class of an R object.
# as.*(): Convert an R object from one class to another.
# unlist(): Flatten (possibly embedded) lists to produce a vector.

In [3]:
# The linkedin and facebook lists have already been created for you
linkedin <- list(16, 9, 13, 5, 2, 17, 14)
facebook <- list(17, 7, 5, 16, 8, 13, 14)

# Convert linkedin and facebook to a vector: li_vec and fb_vec

li_vec <- unlist(linkedin)
fb_vec <- unlist(facebook)


# Append fb_vec to li_vec: social_vec

social_vec <- append(fb_vec, li_vec)

# Sort social_vec

sort(social_vec, decreasing = TRUE)
social_vec

 [1] 17 17 16 16 14 14 13 13  9  8  7  5  5  2

 [1] 17  7  5 16  8 13 14 16  9 13  5  2 17 14

In [4]:
# Fix me
#seq(rep(1, 7, by = 2), times = 7)
rep(seq(1, 7, by = 2), times = 7)

 [1] 1 3 5 7 1 3 5 7 1 3 5 7 1 3 5 7 1 3 5 7 1 3 5 7 1 3 5 7

In [5]:
# Create first sequence: seq1
seq1 <- seq(1, 500, by = 3)

# Create second sequence: seq2
seq2 <- seq(1200, 900, by = -7)

# Calculate total sum of the sequences
# Calculate the total sum of the sequences, either by using the sum() function twice and adding the two results, or by first concatenating the sequences and then using the sum() function once. 
sum(append(seq1, seq2))

[1] 87029

In [9]:
?grepl
#search for matches to argument pattern within each element of a character vector
#grepl(pattern, x, ignore.case = FALSE, perl = FALSE, fixed = FALSE, useBytes = FALSE)
#where pattern is the element you want to match and x is the vector

In [8]:
?regex 
#regular expressions; The metacharacters in extended regular expressions are . \ | ( ) [ { ^ $ * + ?, but note that whether these have a special meaning depends on the context.

In [ ]:
grepl()

In [10]:
# The emails vector has already been defined for you
emails <- c("john.doe@ivyleague.edu", "education@world.gov", "dalai.lama@peace.org",
            "invalid.edu", "quant@bigdatacollege.edu", "cookie.monster@sesame.tv")

# Use grepl() to match for "edu"
# grepl returns TRUE/FALSE for every element
grepl("edu", emails)

# Use grep() to match for "edu", save result to hits
# grep returns the element number where the pattern occurs
hits <- grep("edu", emails)
hits

# Subset emails using hits
emails[hits]

[1]  TRUE  TRUE FALSE  TRUE  TRUE FALSE

[1] 1 2 4 5

[1] "john.doe@ivyleague.edu"   "education@world.gov"
[3] "invalid.edu"              "quant@bigdatacollege.edu"

In [11]:
# You can use the caret, ^, and the dollar sign, $ to match the content located in the start and end of a string, respectively. 
# @, because a valid email must contain an at-sign.
# .*, which matches any character (.) zero or more times (*). Both the dot and the asterisk are metacharacters. You can use them to match any character between the at-sign and the ".edu" portion of an email address.
# \\.edu$, to match the ".edu" part of the email at the end of the string. The \\ part escapes the dot: it tells R that you want to use the . as an actual character.

In [12]:
# The emails vector has already been defined for you
emails <- c("john.doe@ivyleague.edu", "education@world.gov", "dalai.lama@peace.org",
            "invalid.edu", "quant@bigdatacollege.edu", "cookie.monster@sesame.tv")

# Use grepl() to match for .edu addresses more robustly
grepl("@.*\\.edu$", emails)

# Use grep() to match for .edu addresses more robustly, save result to hits
hits <- grep("@.*\\.edu$", emails)

# Subset emails using hits
emails[hits]

[1]  TRUE FALSE FALSE FALSE  TRUE FALSE

[1] "john.doe@ivyleague.edu"   "quant@bigdatacollege.edu"

In [13]:
# While grep() and grepl() were used to simply check whether a regular
# expression could be matched with a character vector, sub() and gsub() take it
# one step further: you can specify a replacement argument. If inside the
# character vector x, the regular expression pattern is found, the matching
# element(s) will be replaced with replacement.sub() only replaces the first
# match, whereas gsub() replaces all matches.

In [14]:
# sub()
# sub(pattern, replacement, x, ignore.case = FALSE, perl = FALSE, fixed = FALSE, useBytes = FALSE)

In [16]:
# With the advanced regular expression "@.*\\.edu$", use sub() to replace the match with "@datacamp.edu". Since there will only be one match per character string, gsub() is not necessary here. Inspect the resulting output.

# The emails vector has already been defined for you
emails <- c("john.doe@ivyleague.edu", "education@world.gov", "global@peace.org",
            "invalid.edu", "quant@bigdatacollege.edu", "cookie.monster@sesame.tv")

# Use sub() to convert the email domains to datacamp.edu
sub("@.*\\.edu$", "@datacamp.edu", emails)

# Notice how only the valid .edu addresses are changed while the other emails remain unchanged. To get a taste of other things you can accomplish with regex, head over to the next exercise.

[1] "john.doe@datacamp.edu"    "education@world.gov"
[3] "global@peace.org"         "invalid.edu"
[5] "quant@datacamp.edu"       "cookie.monster@sesame.tv"

In [17]:
# .*: A usual suspect! It can be read as "any character that is matched zero or more times". \\s: Match a space. The "s" is normally a character, escaping it
# (\\) makes it a metacharacter. [0-9]+: Match the numbers 0 to 9, at least once
# (+). ([0-9]+): The parentheses are used to make parts of the matching string available to define the replacement. The \\1 in the replacement argument of
# sub() gets set to the string that is captured by the regular expression [0-9]+.

In [19]:
# a bit confusing but study the returns above
# The ([0-9]+) selects the entire number that comes before the word “nomination” in the string, and the entire match gets replaced by this number because of the \\1 that reference to the content inside the parentheses.

awards <- c("Won 1 Oscar.",
  "Won 1 Oscar. Another 9 wins & 24 nominations.",
  "1 win and 2 nominations.",
  "2 wins & 3 nominations.",
  "Nominated for 2 Golden Globes. 1 more win & 2 nominations.",
  "4 wins & 1 nomination.")

sub(".*\\s([0-9]+)\\snomination.*$", "\\1", awards)

[1] "Won 1 Oscar." "24"           "2"            "3"            "2"
[6] "1"

In [21]:
today <- Sys.Date()
today #my birthday!

[1] "2018-11-05"

In [22]:
class(today)

[1] "Date"

In [23]:
now <- Sys.time()
now

[1] "2018-11-05 15:32:22 CST"

In [24]:
myDate <- as.Date("1988-11-05")
myDate

[1] "1988-11-05"

In [25]:
class(myDate)

[1] "Date"

In [26]:
# In R, dates are represented by Date objects, while times are represented by POSIXct objects. 
# January in 1970. POSIXct objects on the other hand, store the number of seconds since the 1st of January in 1970.
# The 1st of January in 1970 is the common origin for representing times and dates in a wide range of programming languages. There is no particular reason for this; it is a simple convention. Of course, it's also possible to create dates and times before 1970; the corresponding numerical values are simply negative in this case.

In [28]:
# Get the current date: today
today <- Sys.Date()

# See what today looks like under the hood
# Under the hood, date objects store the number of days since the 1st of January in 1970. 
unclass(today)

# Get the current time: now
now <- Sys.time()

# See what now looks like under the hood
# POSIXct objects on the other hand, store the number of seconds since the 1st of January in 1970.
unclass(now)

[1] 17840

[1] 1541454158

In [29]:
# %Y: 4-digit year (1982)
# %y: 2-digit year (82)
# %m: 2-digit month (01)
# %d: 2-digit day of the month (13)
# %A: weekday (Wednesday)
# %a: abbreviated weekday (Wed)
# %B: month (January)
# %b: abbreviated month (Jan)

In [30]:
as.Date("1982-01-13")
# Notice that the first line here did not need a format argument, because by default R matches your character string to the formats "%Y-%m-%d" or "%Y/%m/%d".
as.Date("Jan-13-82", format = "%b-%d-%y")
as.Date("13 January, 1982", format = "%d %B, %Y")

[1] "1982-01-13"

[1] "1982-01-13"

[1] "1982-01-13"

In [32]:
# In addition to creating dates, you can also convert dates to character strings that use a different date notation. For this, you use the format() function. Try the following lines of code:
today <- Sys.Date()
format(Sys.Date(), format = "%d %B, %Y")
format(Sys.Date(), format = "Today is a %A!")

[1] "05 November, 2018"

[1] "Today is a Monday!"

In [36]:
# Definition of character strings representing dates
str1 <- "May 23, '96"
str2 <- "2012-03-15"
str3 <- "30/January/2006"

# In the editor on the right, three character strings representing dates have
# been created. Convert them to dates using as.Date(), and assign them to date1,
# date2, and date3 respectively. The code for date1 is already included.

# Convert the strings to dates: date1, date2, date3
date1 <- as.Date(str1, format = "%b %d, '%y")
date2 <- as.Date(str2)
#For str2, you don't need to specify the format argument because str2 is in a standard format.
date3 <- as.Date(str3, format = "%d/%B/%Y")

#prints
date1
date2
date3

[1] "1996-05-23"

[1] "2012-03-15"

[1] "2006-01-30"

In [37]:
# Extract useful information from the dates as character strings using format().
# From the first date, select the weekday. From the second date, select the day
# of the month. From the third date, you should select the abbreviated month and
# the 4-digit year, separated by a space.

# Convert dates to formatted strings
format(date1, "%A")
format(date2, "%d") 
#Have a look at the format() function for date2. You can use format(date2, "%d"). Make sure to print the result to the output.
format(date3,"%b %Y")

[1] "Thursday"

[1] "15"

[1] "Jan 2006"

In [38]:
# Similar to working with dates, you can use as.POSIXct() to convert from a
# character string to a POSIXct object, and format() to convert from a POSIXct
# object to a character string. Again, you have a wide variety of symbols:
#
# %H: hours as a decimal number (00-23) %I: hours as a decimal number (01-12)
# %M: minutes as a decimal number 
# %S: seconds as a decimal number 
# %T: shorthand notation for the typical format %H:%M:%S %p: AM/PM indicator 
# For a full list of conversion symbols, consult the strptime documentation in the console:

# ?strptime

# as.POSIXct() uses a default format to match character strings. In this case, it's %Y-%m-%d %H:%M:%S. 
# In this exercise, abstraction is made of different time zones.

In [39]:
# Definition of character strings representing times
str1 <- "May 23, '96 hours:23 minutes:01 seconds:45"
str2 <- "2012-3-12 14:23:08"

# Convert the strings to POSIXct objects: time1, time2
time1 <- as.POSIXct(str1, format = "%B %d, '%y hours:%H minutes:%M seconds:%S")
time2 <- as.POSIXct(str2)


# Convert times to formatted strings

#Using format(), create a string from time1 containing only the minutes.
format(time1, format = "%M")

#From time2, extract the hours and minutes as "hours:minutes AM/PM". Refer to the assignment text above to find the correct conversion symbols!
format(time2, format = "%I:%M %p")

[1] "01"

[1] "02:23 PM"

In [40]:
# NOT EXECUTABLE (code in DataCamp workspace)

# day1, day2, day3, day4 and day5 are already available in the workspace

# Difference between last and first pizza day
#Calculate the number of days that passed between the last and the first day you ate pizza. Print the result.
#diff(pizza[day1],pizza[day5])
day5 - day1

# Create vector pizza
pizza <- c(day1, day2, day3, day4, day5)

# Use the function diff() on pizza to calculate the differences between consecutive pizza days. Store the result in a new variable day_diff.
# Create differences between consecutive pizza days: day_diff
day_diff <- diff(pizza)
day_diff

# Average period between two consecutive pizza days
mean(day_diff)

ERROR: Error in eval(expr, envir, enclos): object 'day5' not found

In [41]:
# Calculations using POSIXct objects are completely analogous to those using Date objects. 
# Try to experiment with this code to increase or decrease POSIXct objects:
now <- Sys.time()
now + 3600          # add an hour
now - 3600 * 24     # subtract a day

[1] "2018-11-05 17:22:04 CST"

[1] "2018-11-04 16:22:04 CST"

In [64]:
#Adding or substracting time objects is also straightforward:

birth <- as.POSIXct("1879-03-14 14:37:23")
death <- as.POSIXct("1955-04-18 03:47:12")
einstein <- death - birth
einstein

Time difference of 27792.55 days

In [65]:
me_birth <- as.POSIXct("1988-11-05 13:00:00")
now <- Sys.time()
me <- now - me_birth
me

Time difference of 10957.15 days

In [67]:
me_age_80 <- as.POSIXct("2068-11-05 13:00:00")
me_age_80 - now

Time difference of 18262.85 days

In [59]:
# NOT EXECUTABLE

# login and logout are already defined in the workspace
# Calculate the difference between login and logout: time_online
time_online <- logout-login

# Inspect the variable time_online
time_online

# Calculate the total time online
sum(time_online)

# Calculate the average time online
mean(time_online)

ERROR: Error in eval(expr, envir, enclos): object 'logout' not found

In [68]:
# NOT EXECUTABLE

# Convert astro to vector of Date objects: astro_dates
astro_dates <- as.Date(astro, format = "%d-%b-%Y")

# Convert meteo to vector of Date objects: meteo_dates
meteo_dates <- as.Date(meteo, format = "%B %d, %y")

# Calculate the maximum absolute difference between astro_dates and meteo_dates

max(abs(astro_dates-meteo_dates))

ERROR: Error in as.Date(astro, format = "%d-%b-%Y"): object 'astro' not found